.nav {
    list-style-type: none;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding: 0;
    border: 1px solid black;
}

.container {
    display: flex;
    flex-wrap: wrap;

}

.animal {
    display: flex;
    flex-basis: 25%;
    flex-direction: column;
}

.pen{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.dog {
    display: flex;
    flex-basis: 30%;
    flex-direction: column;
}

img {
    width: 250px;
}
